#contenedorFiltros{
    background-color:blue;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

#div_load{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#loading_gif{
    width: 300px;
    padding-top: 15rem;
}

.selec_general{
    border-radius: 7px;
    cursor: pointer;
    border-color: transparent;
    margin-left: 15px;
    margin-right: 15px;
    padding: 3.5px;

}

.pageButton{
    padding: 5px;
    border-radius: 7px;
    border-color: transparent;
    margin-left: 15px;
    margin-top: 15px;
    cursor: pointer;
}